

<div (click)="closeNavMenu()">
  <div class="mrg-top-50">
    <div class="container">
      <div class="row">
        <div class="col-10 offset-1 col-sm-10 offset-sm-1 col-md-10 offset-md-1">
          <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
              <div class="text-center mrg-btm-5 btm-border">
                <h1 class="font-size-48 color-gold bold">Michael Call</h1>
              </div>
              <div class="text-right">
                <h1 class="font-size-20 color-gold">FULL STACK DEVELOPER</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--SITE CONTENT-->
  <div class="container">
    <div class="row">
      <div class="col-10 offset-1 col-sm-10 offset-sm-1 col-md-10 offset-md-1">
        <div class="row">
          <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">



            <!--menu picture of Michael call-->
            <div class="rel-position">

              <div  [@top-left]="topLeft" class="abs-pos-top-left " >
                <div class="color-gold font-size-25">About Me</div>
                <div class="color-gold font-size-25">Experience</div>
              </div>

              <div class="abs-pos-top-right "></div>

              <div class="abs-pos-left-middle ">
                <div class="color-gold font-size-25">Portfolio</div>
                <div class="color-gold font-size-25">Contact</div>
                </div>

              <div class="abs-pos-right-middle ">
                <div class="color-gold font-size-25">Education</div>
                <div class="color-gold font-size-25">Skills</div>
              </div>

              <div class="abs-pos-bottom-left "></div>
              <div class="abs-pos-bottom-right "></div>


              <img [@main-pic]="mainPic" class="img box-shadow" style="width: 100%" src="../../assets/1421.jpg" alt="">
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>

