
<!--SMALL VERSION-->
<div class="hidden-lg-up">

  <!--MAIN TITLE-->
  <div class="mrg-top-50 mrg-btm-25">
    <div class="container" (click)="onSelectHeader('home')">
      <div class="row">
        <div class="col-10 offset-1 col-sm-10 offset-sm-1 col-md-10 offset-md-1">
          <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
              <div class="text-center mrg-btm-5 btm-border">
                <h1 class="font-size-48 color-gold bold">Michael Call</h1>
              </div>
              <div class="text-right">
                <h1 class="font-size-20 color-gold">FULL STACK DEVELOPER</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--SITE HEADERS-->
  <div class="container mrg-btm-25">
    <div class="row">
      <div class="col-10 offset-1 col-sm-10 offset-sm-1 col-md-10 offset-md-1">
        <div class="row">
          <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <div class="flex-space-between">
              <div (click)="onSelectHeader('about-me')">
                <div class="font-size-10 pd-btm-2 color-gold bold" [ngClass]="{'border-bottom ': onSelectAboutMe == 'about-me'}">About Me</div>
              </div>
              <div (click)="onSelectHeader('portfolio')">
                <div class="font-size-10 pd-btm-2 color-gold bold" [ngClass]="{'border-bottom ': onSelectAboutMe == 'portfolio'}">Experience</div>
              </div>
              <div (click)="onSelectHeader('contact')">
                <div class="font-size-10 pd-btm-2 color-gold bold" [ngClass]="{'border-bottom ': onSelectAboutMe == 'contact'}">Contact</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--SITE CONTENT-->
  <div class="container">
    <div class="row">
      <div class="col-10 offset-1 col-sm-10 offset-sm-1 col-md-10 offset-md-1">
        <div class="row">
          <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">

            <!--menu picture of Michael call-->
            <div class="rel-position">
              <img [@main-pic-small]="mainPicSmall" class="img box-shadow" style="width: 100%" src="./assets/1421.jpg"  alt="">

              <!--about me-->
              <div [@about-me-small]="aboutMeSmall" class="pos-small">
                <h4 class="title-head font-size-15">
                  GOAL-ORIENTED, HARDWORKING, AND MOTIVATED - THREE WORDS THAT FIT MY PERSONA
                </h4>

                <div class="content font-size-12">
                  After proving myself to be a fast learner and passionate entrepreneur, I have devoted myself to the Software Development world, achieving a great level of proficiency in different platforms.
                </div>

                <div class="content">
                  <li class="font-size-12">Clojure</li>
                  <li class="font-size-12">Javascript (Angular, React)</li>
                  <li class="font-size-12">AWS</li>
                  <li class="font-size-12">NodeJS</li>
                  <li class="font-size-12">API Integration</li>
                  <li class="font-size-12">CSS Responsive Design</li>
                  <li class="font-size-12">Ionic</li>
                  <li class="font-size-12">Database - Relational and NoSQL</li>
                  <li class="font-size-12">Third Party Libraries</li>
                </div>

              </div>

              <!--portfolio-->
              <div [@portfolio-small]="portfolioSmall" class="pos-small">
                <div class="content font-size-12">
                  DishOne: Full stack developer. Using angular, clojure, SQL and more.
                </div>

                <div class="content font-size-12">
                  Web Developer: Learned basics at DevMountain and personal projects
                </div>

                <div class="content font-size-12">
                  Deloitte: Data analyst and financial advisory
                </div>

                <div class="content font-size-12">
                  Missionary Training Center: Spanish teacher
                </div>
              </div>

              <!--contact-->
              <div [@contact-small]="contactSmall" class="pos-small">
                <div class="content font-size-12">
                  Email - Callmichael.bus@gmail.com

                </div>
                <div class="content font-size-12">
                  Address: Lehi, UT, United States
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

<div class="hidden-lg-down">
  <div class="mrg-top-50">
    <div class="container">
      <div class="row">
        <div class="col-10 offset-1 col-sm-10 offset-sm-1 col-md-10 offset-md-1">
          <div class="row">
            <div  class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
              <div class="text-center mrg-btm-5 btm-border">
                <h1 class="font-size-48 color-gold bold" (click)="animateLarge('all-home-or-open')" >Michael Call</h1>
              </div>
              <div class="text-right">
                <h1 class="font-size-20 color-gold" (click)="animateLarge('all-home-or-open')" >FULL STACK DEVELOPER</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--SITE CONTENT-->
  <div class="container" (click)="animateLarge('all-home-or-open')">
    <div class="row">
      <div class="col-10 offset-1 col-sm-10 offset-sm-1 col-md-10 offset-md-1">
        <div class="row">
          <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">



            <!--menu picture of Michael call-->
            <div class="rel-position" >

              <div [@about-me]="aboutMe" class="about-me-card">

                <h4 class="title-head">
                 GOAL-ORIENTED, HARDWORKING, AND MOTIVATED - THREE WORDS THAT FIT MY PERSONA
                </h4>

                <div class="content">
                  After proving myself to be a fast learner and passionate entrepreneur, I have devoted myself to the Software Development world, achieving a great level of proficiency in different platforms.
                </div>

                <div class="content">
                  <li class="font-size-16">Clojure</li>
                  <li class="font-size-16">Javascript (Angular, React)</li>
                  <li class="font-size-16">AWS</li>
                  <li class="font-size-16">NodeJS</li>
                  <li class="font-size-16">API Integration</li>
                  <li class="font-size-16">CSS Responsive Design</li>
                  <li class="font-size-16">Ionic</li>
                  <li class="font-size-16">Database - Relational and NoSQL</li>
                  <li class="font-size-16">Third Party Libraries</li>
                </div>


                <h4 class="title-head">
                  INTEREST
                </h4>

                <div class="content">
                  Software Development: Functional programing and object oriented programming
                </div>

                <div class="content">
                  Finance: Numbers and the stock market
                </div>

                <div class="content">
                  Entrepreneurship: Adding value to the world
                </div>


                <h4 class="title-head">
                  EXPERIENCE
                </h4>

                <div class="content">
                  DishOne: Full stack developer. Using angular, clojure, SQL and more.
                </div>

                <div class="content">
                  Web Developer: Learned basics at DevMountain and personal projects
                </div>

                <div class="content">
                 Deloitte: Data analyst and financial advisory
                </div>

                <div class="content">
                 Missionary Training Center:  Spanish teacher
                </div>

                <h4 class="title-head">
                  SPOKEN LANGUAGES
                </h4>

                <div class="content">
                  <li class="font-size-16"> Spanish - Fluid</li>
                  <li class="font-size-16">English - Native</li>
                </div>

                <h4 class="title-head">
                  CONTACT
                </h4>

                <div class="content">
                 Email - Callmichael.bus@gmail.com <br>
                </div>

                <div class="content">
                  Address: Lehi, UT, United States
                </div>



              </div>
              <img [@main-pic]="mainPic" class="img box-shadow" style="width: 100%" src="./assets/1421.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

